/* COMMON */
*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.inner{
  /* 고정 길이=고정형 */
  /* width: 1200px; */
  /* 최대값만 제한=반응형 */
  max-width:1200px ;
  
  margin: 0 auto;
}
.title{
  margin: 0 auto;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
  width: 200px;
}
.title::after{
  content: "";
  display: block;
  height: 1px;
  background-color: #000;
  width: 0px;
  transition: .5s;
  margin: 24px auto 0;
}
.title:hover::after{
  content: "";
  height: 1px;

  width: 180px;
}
img{
  /* 이미지가 인라인 요소라서 발생하는 문자 기준선(baseline) 아래의 공간을 제거 하기위해
img를 display:block;을 주면 baseline이 없어진다
 */
  display: block;
}

/* 버튼과 같이 여러 곳에서 반복 사용되는 요소를 공통 스타일로 작업하면, 매번다시 작성할 필요가 없음 */

.btn{
  width: 120px;
  padding: 10px;
  display: block;/* a , span 같은 인라인 요소를 버튼으로 사용할 수도 있으니 블록으로 지정*/
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor:pointer;
  transition: 0.5s


}
.btn:hover{
  background-color: #333;
  color:#fff;
}

.btn.btn-purple{
  color: #9b30ff;
  border-color: #9b30ff;
  
}
.btn.btn-purple:hover{
  color: #fff;
  background-color: #9b30ff;  
}
.btn.btn-brown{
  color:#592b18;
  border-color: #592b18;
}
.btn.btn-brown:hover{
  color:#fff;
  background-color: #592b18;
}
.animate-flash{
  animation-name:flash;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 3;
}
.purple{
  color: #9b30ff;
}
body{
  font-family:"Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color:#333;
  overflow-x: hidden;
}
/* 영문에만 적용할 폰트 */
.font-en{
  font-family:"Open Sans",sans-serif;
}
a{
  text-decoration: none;
  color:inherit;
}
header{
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 5px 8px rgba(204,204,204,0.8);
  /* 고정된 헤더 만들기 */
  /* fixed가 되면 width의기준이 부모요소가 아니라 뷰포트가 되면서 기준이 끊겨버리고, 내용에 맞춰 최소한으로 축소됨 */
  position: fixed;
  width: 100%;

  top:0;
  z-index: 9;
}

header > .inner{
  box-sizing: content-box;
  padding-left: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header .logo img{
  width: 40px;
}

header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px 20px;
  font-weight: 700;
}
header nav ul li a:hover{
  color:#9b30ff;
}
header nav ul li a{
  position: relative;
}
header nav ul li a::before{
content: "";
display: block;
width: 0;/* 초기에는 밑줄이 없도록 0으로 설정*/
height: 1px;
background-color: #9b30ff;
position: absolute;
bottom: -2px;
left: 0;
transition: width 0.5s;

}
header nav ul li a:hover::before{
width: 100%;
}
/* VISUAL */
.visual{
  /* (중요)
  헤더가 fixed 되어 일반 배치 흐름에서 벗어남 fixed 헤더 다음에 오는 요소(예:섹션)는 헤더의 높이만큼 외부 여백 추가 필요 */
  width: 100%;
  background-color: #000;
  color: #fff;
  margin-top: 60px;

}
.visual>.inner{
  height: calc(100vh - 60px);
  font-size: 70px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  
}

/* ABOUT */
.about{
    padding: 150px 0;
}
.about > .inner {
  position: relative;
}
.about .about_wrapper{
  display: flex;
  justify-content: space-between;
}
.about .about_wrapper .about_img {
  width: 40%;
}
.about .about_wrapper .about_img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.1);
  
}
.about .about_wrapper .about_text {
  width: 40%;
  padding : 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about .about_wrapper .about_text .slogan{
  font-size: 35px;
  font-weight: bold;

}
.about .about_wrapper .about_text h3 {
  font-size:20px;
  font-weight: 600;
}
.about .about_wrapper .about_text h4{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about .about_wrapper .about_text li {
  line-height: 1.8;
}
.about .about_btn{
  position: absolute;
  right: 30px;
  bottom: -30px;
}
/* .about .about_btn a {
  display: flex;
  align-items: center;
} */

.about .about_btn img{
  display: inline;
  vertical-align: middle; 
  width: 28px;
  margin-right: 10px;
}

/* SKILL */

.skill{
  padding: 150px 0;
  background-color: #000;
  color:white ;
}

.skill .title::after{
  background-color: white;
}

.skill .skill_list{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.skill .skill_list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* 방법1:position */
  /* position: relative;
  top :100px; */

  /* 방법2:transform: ; */

  transform:translateY(100px);
  opacity: 0;

  

}
.skill.show .skill_list > li{
  transition: 0.5s;
  transform:translateY(0);
  /* top:0; */
  opacity: 1;

  
}
.skill .skill_list > li:nth-child(1){transition-delay:0.1s ;}
.skill .skill_list > li:nth-child(2){transition-delay:0.2s ;}
.skill .skill_list > li:nth-child(3){transition-delay:0.3s ;}
.skill .skill_list > li:nth-child(4){transition-delay:0.4s;}
.skill .skill_list > li:nth-child(5){transition-delay:0.5s ;}

.skill_list li div {
  width: 50px;
  height: 40px;
  background-color: #9b30ff;
  border-radius: 50%;
  transform: rotate(-20deg);
  transition: .5s;
}
.skill_list li {
cursor: default;}
.skill_list li:hover div{
  transform: rotate(0deg);
}
.skill_list li p {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -2px;
}
.skill_list li h3{
  font-weight: bold;
  font-size: 20px;
  margin: 30px 0 20px;
}


/* PROJECT */
.project{
  padding:150px 0;
}
.project .port{
  display: flex;
  margin: 20px 0;

}
.project .port .port_img
, .project .port .port_text{
  width: 50%;
  height: 400px;
}
.project .port .port_img .swiper{
  width: 100%;
  height: 100%;
}
.project .port .port_img .swiper img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project .port .port_text{
  padding: 30px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project .port .port_text h3{
  font-size: 20px;
  font-weight: 800;
}
.project .port .port_text li{
  line-height: 1.8;
}
.project .port .port_text li span{
  font-weight: bold;
}

.project .port .btn-group{
  display: flex;
  column-gap: 40px;

}

/* CONTACT */
.contact {
  padding: 200px 0;
}
.contact .contact__info li {
  line-height: 2;
  text-align: center;
  transition: 1s;
  opacity: 0;
}
/* 애니메이션 효과 추가 */
.contact .contact__info li:nth-child(1),
.contact .contact__info li:nth-child(3){
/* 오른쪽에서 왼쪽으로 나타나는 */
transform: translateX(150px);

}
.contact .contact__info li:nth-child(2){
/* 왼쪽에서 오른쪽으로 나타나는 */
transform: translateX(-150px);
}
.contact.show .contact__info li{
  transform: translateX(0);
  opacity: 1;

}
.contact .contact__sns {
  margin-top: 20px;
}
.contact .contact__sns ul {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
/* 애니메이션 추가 */
.contact .contact__sns ul li{
  transform: translateY(100px);
  transition: 1s;
  opacity: 0;
}
.contact.show .contact__sns ul li{
  transform: translateY(0);
  opacity: 1;
}
.contact.show .contact__sns ul li:nth-child(1){
  transition-delay: 0.2s;
}
.contact.show .contact__sns ul li:nth-child(2){
  transition-delay: 0.4s;
}
.contact .contact__sns ul li img {
  width: 30px;
}

/* MODAL */
#modal,#imageModal{
  /* 화면 전체 영역 덮기 */
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top:0;
  left: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}
#modal .modal-content,
#imageModal .modal-content{
  background-color: #fff;
  border-radius: 8px;
}
#modal .modal-content{
  width:60%;
}

#modal .modal-header,
#imageModal .modal-header{
  padding: 16px;
  background-color: #222;
  color: #fff;
  border-radius: 8px 8px 0 0;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#modal .modal-header .btn-close,
#imageModal .modal-header .btn-close{
  font-size: 30px;
  cursor: pointer;
}
#modal .modal-header .btn-close:hover,
#imageModal .modal-header .btn-close:hover{
color: #aaa;
}
#modal .modal-body,
#imageModal .modal-body{
  padding: 16px;}
/* 애니메이션 정의는 맨 마지막에 */

/* FOOTER */
footer{
  background-color: #000;
  color: #fff;
  
}
footer .copyright{
  font-weight: 600;
  text-align: center;
  line-height: 200px;
}

/* SCROLL TO TOP 버튼 */
#to-top {
  width: 42px;
  height: 42px;
  background-color: #fff8e8;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  transition: 0.5s;
  /* 처음 상태는 투명에 x축으로 +100px 지정 */
  opacity: 0;
  transform: translateX(100px);
}


@keyframes flash{
  0%, 50% ,100% {
    opacity: 1;
  }
  25%,75%{
    opacity: 0;
  }
}